@import "../../stylesUtils/mixins";
@import "../../stylesUtils/variables";
@import "../../stylesUtils/breakPoints";
@import "../../stylesUtils/animation";

.header {
  position: relative;
  padding: 6px 0 28px;
  background-color: rgba(#FDFDFD,.67);
  z-index: 1111;
  box-shadow: 0px 4px 24px 0px #0000001F,
              0px 12px 24px 0px #0000001F inset;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 86px;

    @include onMobile {
      gap: 20px;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__content {
    animation: fadeRight 1s forwards;
  }

  &__logo {
    margin-left: 10%;
    animation: fadeLeft 1s forwards;

    @include onMobile {
      margin-left: 0;
    }

    img {
      @include onMobile {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__site {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    @include onMobile {
      gap: 8px;
      margin-bottom: 10px;
    }

    &-name {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: -0.01em;
      @include font(24px,500,29.26px);

      @include onMobile {
        font-size: 18px;
      }
    }
    &-start {
      letter-spacing: -0.03em;
      @include font(13px,400,15.23px);
      color: $blue;
      border: 1px solid $blue;
      padding: 6px 12px;

      @include onMobile {
        font-size: 10px;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 19px;

    @include onMobile {
      gap: 12px;
    }

    &-block {
      @include font(14px,400,16.41px);
      @include onMobile {
        font-size: 12px;
      }
      & > span {
        font-weight: 700;
      }
    }
  }
}
